section.blog 
	.blog-container 
		.blog-block 
			h2.heading.blog-heading Our Regular Updated Blog Posts
			p.desc.blog-desc tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
		.blog-list 
			+blogItem("images/blog-item1.jpg 2x", "SEO tips and tricks for new", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
			+blogItem("images/blog-item2.jpg 2x", "A Guide to Google SEO", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
			+blogItem("images/blog-item3.jpg 2x", "Best Practices SEO Content", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
