section.feature 
  .feature-container 
    .feature-img 
      img(srcset="images/feature-img.png 2x", alt="")
    .feature-content 
      .feature-block 
        h4.caption.feature-caption WHO WE ARE
        h2.heading.feature-heading Top #1 Marketing Agency in the World
        p.desc.feature-desc Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
      a.btn.btn--primary.feature-btn(href="#!") Get In Touch