footer.footer 
  .footer-container 
    .footer-top 
      .footer-column 
        a.footer-logo(href="#!") 
          img(srcset="images/footer-logo.png 2x", alt="")
        p.footer-text.footer-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
        ul.footer-social 
          li.footer-social-item 
            a.footer-social-link(href="#!") 
              img(srcset="images/facebook.png 2x", alt="")
          li.footer-social-item 
            a.footer-social-link(href="#!") 
              img(srcset="images/twitter.png 2x", alt="")
          li.footer-social-item 
            a.footer-social-link(href="#!") 
              img(srcset="images/instagram.png 2x", alt="")
      .footer-column 
        h4.footer-title Services
        li.footer-item 
          a.footer-link(href="#!") Email Marketing Social 
        li.footer-item 
          a.footer-link(href="#!") Media Marketing Search 
        li.footer-item 
          a.footer-link(href="#!") Engine Optimization 
        li.footer-item 
          a.footer-link(href="#!") Prnelnct Devnionmnni 
        li.footer-item 
          a.footer-link(href="#!") Web Development 
      .footer-column 
        h4.footer-title Support
        li.footer-item 
          a.footer-link(href="#!") Email Marketing Social 
        li.footer-item 
          a.footer-link(href="#!") Media Marketing Search 
        li.footer-item 
          a.footer-link(href="#!") Engine Optimization 
        li.footer-item 
          a.footer-link(href="#!") Prnelnct Devnionmnni 
        li.footer-item 
          a.footer-link(href="#!") Web Development 
      .footer-column 
        h4.footer-title Contact Us
        li.footer-item 
          a.footer-link(href="#!") suppariaringrozom
        li.footer-item 
          a.footer-link(href="#!") (41) 84?-5E2-451
        li.footer-item 
          a.footer-link(href="#!") North Cry, 547 Link Road. 
    .footer-bottom
      p.footer-copyright All Right Reserved by Us! Copyright 2021 
