section.mission 
  .mission-container 
    .mission-content 
      .mission-block 
        h4.caption.mission-caption OUR MISSION & GOAL
        h2.mission-heading.heading Realize Your Business Goals For Profit
        p.mission-desc.desc Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
      a.btn.btn--primary.mission-btn(href="#!") Get In Touch 
    .mission-img
      img(srcset="images/mission-img.png 2x", alt="")