section.newsletter 
  .newsletter-container 
    .newsletter-content 
      h2.heading.newsletter-heading Sign up to Our Newsletter
      p.desc.newsletter-desc You need to get positive results when you spend hard earned revenue and time.
    .newsletter-subcribe 
      form.newsletter-form(action="") 
        input.newsletter-input(type="Email" placeholder=" ")
        label(for="Email").newsletter-label Email...
        a.btn.btn--primary.newsletter-btn(href="#!") Subcribe