section.testimonial 
  .testimonial-container 
    .testimonial-img 
      img(srcset="images/testimonial-img.png 2x", alt="")
    .testimonial-content 
      .testimonial-block 
      h4.caption.testimonial-caption TESTMONIALS
      h2.heading.testimonial-heading Client’s Fedback
      p.desc.testimonial-desc Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci 
      .testimonial-feedback 
        .testimonial-icon 
          img(src="images/testimonial-check.svg", alt="")
        span.testimonial-number 450+
        span.testimonial-text Client’s Feedback
      a.btn.btn--primary.testiomial-btn(href="#!") Get In Touch 
