.service {
  display: block;
  padding-bottom: 7.6rem;
  &-container {
    @include section(1068px);
  }
  &-block {
    text-align: center;
    margin-bottom: 7.3rem;
  }
  &-heading {
    max-width: 42.6rem;
    margin-left: auto;
    margin-right: auto;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 3.3rem;
  }
  &-item {
    border: 2px solid #edeff6;
    border-radius: 13px;
    padding: 4rem 4.5rem 8.7rem;
    text-align: center;
    transition: all .25s;
    cursor: pointer;
    &:hover{
      background-color: white;
      box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
      border-color: white;
    
    }
  }
  &-icon {
    @include size(6.7rem);
    @include flexBox(center, center);
    border-radius: 50%;
    background-color: #f4f7ff;
    margin: 0 auto 2.6rem;
    transition: all .25s;
  }
  &-title {
    font-weight: 600;
    font-size: 2.1rem;
    line-height: calc(31 / 21);
    margin-bottom: 1.9rem;
  }
  &-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: calc(21 / 14);
    color: #7f8ea1;
  }
  @include maxWidth(1023px){
    &-list{
      grid-gap: 0 2rem;
    }
    &-item{
      padding: 4rem 1.8rem 3rem;
    }
  }
  @include maxWidth(767px){
    &-block{
      margin-bottom: 5rem;
    }
    &-list{
      grid-template-columns: 1fr;
      gap: 3rem 0;
    }
    &-item{
      padding-bottom: 4rem;
    }
  }
}
