extends layout/layout

block vars
	-title = 'Online Marketing'
	-bodyClass = 'home-page'

block container
	include blocks/service
	include blocks/feature
	include blocks/mission
	include blocks/testimonial
	include blocks/blog
	include blocks/newsletter